@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yrigakesha;
  src: url(/resources/fonts/Yrigakesha.otf);
}

:root {
  --background: #07070d;
  --foreground: #ffffff;
}

html, body {
  min-height: 100%;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Yrigakesha', sans-serif;
}
